*
{
    margin: 0;
    padding: 0;
    /* font-family: Georgia, serif; */
}
html {
    scroll-behavior: smooth;
  }
.subject i
{
    display: none;
}
body
{
    font-family: Georgia, serif;
}
.default
{
    --color1:#082032;
    --color1_hover:#ff7070;
    --background:#EEEEEE;
    --text-color:#082032;
    --color2:#082032;
    --color2_hover:#082032;
    --neo1:#c3c3c3;
    --neo2:#ffffff;
    --neutral:rgba(229,229,229,0.3);
}
.dark
{
    --color1:#ff7070;
    --color1_hover:#EEEEEE;
    --text-color:#DBEDF3;
    --color2:#b8d6e0;
    --color2_hover:#EEEEEE;
    --background:#252525;
    --neutral:rgba(229,229,229,0.3);
    --neo1:#1e1e1e;
    --neo2:#2c2c2c;
}
.header
{
    background-color: var(--background);
    color: var(--text-color);
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    position: sticky;
    top: 0;
    border-bottom:0.5px solid var(--text-color) ;
    display: flex;
}
.header h3
{
    font-size: 25px;
    /* font-family: Verdana; */
    font-family: 'Gotu', sans-serif;
    margin-top: 7px;
}
.header h3 a 
{
    text-decoration: none;
    color: var(--color1);
}
.header h3 a:hover:first-letter
{
    color: blue;
}
.logo
{
    width: 50%;
}
.headerButton
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.headerButton i , .headerButton button
{
    margin-right: 5px;
}
.homeNotice
{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main
{
    background-color: var(--background);
    color: var(--text-color);
}
.notification
{
    background-color: var(--background);
    border: 1px solid var(--text-color);
    width: 200px;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    top: 40px;
    right: 0px;
    box-shadow:  5px 5px 10px var(--neo1),
             -5px -5px 10px var(--neo2);
}
.fa-bell
{
    cursor: pointer;
}
.fa-bell:hover
{
    color: #ff7070;
}
.notification i
{
    float: right;
    cursor: pointer;
}
.notification i:hover
{
    color: #ff7070;
}
.notification ol 
{
    padding-left: 8px;
}
.notification ol li 
{
    margin: 5px;
}
#quick_search
{
    padding-top: 5px;
    padding-left: 30px;
}
.main nav ul li
{
    list-style-type: none;
    margin: 5px;
    cursor: pointer;
    color: var(--color2);
}
.main nav ul li:hover
{
    color: var(--color2_hover);
}
.main nav ul li:nth-child(1)
{
    margin-top: 0px;
}
.main1
{
    padding: 20px;
    box-sizing: border-box;
}
.subject
{
    /* height: 85vh; */
    margin: 10px;
    color: var(--text-color);
    background: var(--background);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 11px;
    box-shadow:  5px 5px 10px var(--neo1),
             -5px -5px 10px var(--neo2);
}
.subject .title
{
    font-size: 20px;
}
.subject nav ul 
{
    padding-top: 10px;
}
.subject nav ul li 
{
    list-style-type:disc;
    margin-left: 20px;
}
.subject nav ul li:hover
{
    transition-duration: 0.8s;
    margin-left: 30px;
}
.subject nav ul a 
{
    text-decoration: none;
    color: var(--text-color);
}
.subject nav ul li a:hover
{
    color: #ff7070;
}
.toTop
{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
.toTop i 
{
    color: var(--text-color);
    cursor: pointer;
    font-size: 20px;
}
footer
{
    background-color: var(--background);
    color: var(--text-color);
    width: 100%;
    padding: 0;
    margin: 0;
}
.footer
{
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;

}
.footer a 
{
    color: var(--color1_hover);
}
.footer i
{
    color: #ff7070;
}